*{
  padding:0;
  margin:0;
  border:0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
input, button, textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0}
a, a:visited{text-decoration:none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:-400;}

@font-face {
    font-family: Bison;
    src: url(fonts/bison-bold.ttf);
   }
body{
  color: white;
  background: url("img/frame471.png") no-repeat left top, linear-gradient(180deg, rgba(23, 23, 22, 0) 57.87%, #171716 79.58%);
  height: 2400px;
}
.fontBison{
  font-family: Bison;
  font-style: bold;
}
.fontJost900{
  font-family: 'Jost', sans-serif;
  font-weight: 900;
}
.fontJost700{
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
.fontJost500{
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
.header{
  background-color: #171716;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.labels{
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}
.label1{
  position: absolute;
  width: 48px;
  height: 26px;
  left: 1281px;
  top: 32px;
}
.label2{
  position: absolute;
  width: 49px;
  height: 26px;
  left: 1393px;
  top: 32px;
}
.label3{
  position: absolute;
  width: 34px;
  height: 26px;
  left: 1506px;
  top: 32px;
}
.img-philosopher{
  width: 536px;
  height: 618px;
}
hr{
  height: 1px;
  color: gray;
}
.content-wrapper{
  padding-top: 76px;
  text-align: left;
  width: 1160px;
  margin: 0 auto;
}
.content-title1{
  font-weight: 700;
  font-size: 70px;
  vertical-align: top;
  color: #73F9BC;
  line-height: 84px;
}
.content-text1{
  padding-top: 30px;
  font-size: 18px;
  color: white;
  opacity: 50%;
}
.content-text2{
  padding-top: 10px;
  font-size: 35px;
  color: white;
  opacity: 50%;
  line-height: 42px;
}
.content-text3{
  font-size: 35px;
  color: #73F9BC;
}
.content-btn1{
  padding: 8px 112px 9px 112px;
  font-size: 40px;
  background: white;
  margin-top: 36px;
}
#img-philosopher{
  position: absolute;
  width: 536px;
  height: 618px;
  top: 142px;
  right: 380px;
  z-index: 1;
}
.content-signboard{
  position: absolute;
  height: 78px;
  font-size: 65px;
  color: #73F9BC;
  background: #171716;
  border: 1px solid #73F9BC;
  white-space: nowrap;
  text-align: center;
  margin-top: 60px;
  padding-left: 118px;
  padding-right: 119px;
  z-index: 2;
}
a{
  color: white;
}
.content-label{
  color: #73F9BC;
  font-weight: 900px;
  font-size: 120px;
  margin-top: 278px;
  text-align: center;
}
.description{
  background: black;
}
.description-label{
  font-size: 50px;
  text-align: center;
}
.description-text1{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  margin-top: 30px;
}
.buttonSet{
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
}
.unactivatedButton{
  background: black;
  color: white;
  border: 1px solid white;
  font-size: 22px;
  padding: 17px 36px 16px 36px;
  width: 387px;
  height: 65px;
  margin-left: -5px;
}
.unactivatedButton:hover{
  color: black;
  background: #73F9BC;
  font-family: 'Jost', sans-serif;
  font-weight: 900;
}
.columnSet{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.columnSet-liltext{
  font-size: 30px;
  color: white;
}
.columnSet-bigtext1{
  font-size: 80px;
}
.columnSet-bigtext2{
  font-size: 80px;
  color: #73F9BC;
}
.nfr{
  background: black;
  padding-top: 50px;
  max-height: 2000px;
}
.nfr-title{
  color: black;
  background: #73F9BC;
  border: 1px solid #73F9BC;
  font-size: 35px;
  text-align: center;
  height: 68px;
  padding: 10px;
  margin: 0px 10px 0px 10px;
}
.personBlockWrapper{
  width: 1900px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'p1 e p4'
                       'p2 e p5'
                       'p3 e p6'
                       'q1 e q2'
}
.emptyBlock{
  grid-area: 'e';
}
.personBlock1{
  margin: 20px;
  grid-area: 'p1';
}
.personBlock2{
  margin: 20px;
  grid-area: 'p2';
}
.personBlock3{
  margin: 20px;
  grid-area: 'p3';
}
.personBlock4{
  margin: 20px;
  grid-area: 'p4';
}
.personBlock5{
  margin: 20px;
  grid-area: 'p5';
}
.personBlock6{
  margin: 20px;
  grid-area: 'p6';
}
.personTime{
  font-size: 25px;
  color: #73F9BC;
  grid-area: 't';
}
.personName{
  font-size: 20px;
  grid-area: 'n';
}
.personLogo{
  background: black;
  grid-area: 'l';
}
.personQuote{
  margin-left: 20px;
  font-size: 22px;
  grid-area: 'q';
}
.personBlock{
  text-align: left;
  width: 940px;
  height: 198px;
  display: grid;
  grid-template-columns: 230px 150px 550px;
  grid-template-areas: 'lc a rc';
}
.leftColumnWrapper{
  margin: 25px;
  text-align: left;
  grid-area: 'lc';
}
.rightColumnWrapper{
  margin: 25px;
  text-align: left;
  grid-area: 'rc';
}
.personAvatar{
  text-align: left;
  grid-area: 'a';
}
.personButtons{
  grid-area: 'b';
}
.personButton1{
  font-size: 20px;
  background: #73F9BC;
  color: black;
  border: 1px solid #73F9BC;
  width: 160px;
  height: 40px;
  margin: 20px;
}
.personButton2{
  font-size: 20px;
  background: black;
  color: white;
  border: 1px solid white;
  width: 160px;
  height: 40px;
  margin: 20px;
}
.personBlockWrapper{
  width: 1900px;
  padding-left: 10px;
  padding-right: 4px;
}
.personColumn1{
  width: 940px;
  border: 1px solid white;
  border-top: 0;
}
.personColumn2{
  width: 940px;
  border: 1px solid #73F9BC;
  border-top: 0;
}
.headerAndContentWrapper{
  background: linear-gradient(180deg, rgba(23, 23, 22, 0) 57.87%, #171716 79.58%);
}
.QA1{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: -40px;
  margin-left: 5px;
  height: 116px;
  grid-area: 'q1';
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'qat qal';
  text-align: left;
  padding-left: 40px;
}
.QA2{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: -40px;
  margin-left: 5px;
  height: 116px;
  margin-left: 5px;
  grid-area: 'q2';
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'qat qal';
  text-align: left;
  padding-left: 40px;
}
.QATime{
  font-size: 25px;
  color: #73F9BC;
  grid-area: 'qat';
}
.QALabel{
  font-size: 25px;
  grid-area: 'qal';
}
img{
  width: 150px;
  height: 60px;
}
.personAvatar img{
  width: 150px;
  height: 150px;
}
hr{
  clear:both;
  width: 850px;               
  background-color:gray;
  height: 1px;
  margin-left: 25px;
  margin-right: 25px;
}
.wrapAll{
  height: 2600px;
  overflow: hidden;
}
.headerLogo{
  position: absolute;
  width: 40px;
  top: 20px;
  left: 360px;
}